html {
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}
body {
  padding: 0;
  margin: 0;
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
.container {
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}
.dark body {
  color: rgb(255 255 255);
}
*,
::before,
::after {
  box-sizing: border-box;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.leading-7 {
  line-height: 1.75rem;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.text-center {
  text-align: center;
}

/* Form styling */
h1 {
  font-weight: normal;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
}
.label-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
label {
  color: rgb(75 85 99);
}
.dark label {
  color: rgb(156 163 175);
}
input {
  padding: 0.25rem 0.75rem;
  line-height: 2rem;
  font-size: 1rem;
  color: rgb(55 65 81);
  border: solid 1px rgb(209 213 219);
  border-radius: 0.25rem;
  outline: 0;
  box-shadow: 0;
  width: 100%;
}

/* Button styling */
.login,
.signup {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  margin: 0;
  border: 0;
  outline: 0;
  border-radius: 0.25rem;
  width: 100%;
  display: block;

  margin-top: 1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}
.login {
  background-color: rgb(34 197 94);
  color: rgb(255 255 255);
}
.login:hover {
  background-color: rgb(30 174 83);
}
.signup {
  background-color: rgb(99 102 241);
  color: rgb(255 255 255);
}
.signup:hover {
  background-color: rgb(86 89 240);
}

/* Error messages */
.form.invalid button {
  cursor: not-allowed;
  opacity: 0.5;
}
.form.invalid input {
  border-color: rgb(239 68 68);
}
.form .invalid-msg {
  display: none;
}
.form.invalid .invalid-msg {
  display: block;
  color: rgb(239 68 68);
  font-weight: 500;
}
.form.loading {
  pointer-events: none;
}
.form.loading button {
  cursor: not-allowed;

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form.loading button:after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: 10px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
