@tailwind base;
@tailwind components;
@tailwind utilities;

.dark select option {
  background-color: black;
}

.dark select optgroup {
  background-color: black;
}

.dark {
  color-scheme: dark;
}

.dark iframe {
  color-scheme: auto;
}

@layer base {
  *,
  ::before,
  ::after {
    @apply dark:border-gray-600;
  }
}

.faded-scrollbar::-webkit-scrollbar {
  width: 9px;
}

.faded-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.faded-scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
